log:
  level: INFO

entryPoints:
  web:
    # http
    address: ':80'
    http:
      # https://doc.traefik.io/traefik/routing/entrypoints/#entrypoint
      redirections:
        entryPoint:
          to: web-secure

  web-secure:
    # https
    address: ':443'

  flower:
    address: ':5555'

certificatesResolvers:
  letsencrypt:
    # https://doc.traefik.io/traefik/https/acme/#lets-encrypt
    acme:
      email: 'info@competibee.com'
      storage: /etc/traefik/acme/acme.json
      # https://doc.traefik.io/traefik/https/acme/#httpchallenge
      httpChallenge:
        entryPoint: web

http:
  routers:

    flower-secure-router:
      rule: 'Host(`competibee.com`)'
      entryPoints:
        - flower
      service: flower
      tls:
        # https://doc.traefik.io/traefik/master/routing/routers/#certresolver
        certResolver: letsencrypt
    # TODO: replace admin url with correct admin url
    web-django-router:
      rule: '(Host(`competibee.com`) || Host(`www.competibee.com`)) && (PathPrefix(`/accounts`) || PathPrefix(`/_allauth`) || PathPrefix(`/replace_with_correct_admin_url/`) || PathPrefix(`/static`) || PathPrefix(`/payments/checkout`) || PathPrefix(`/payments/webhook`) || PathPrefix(`/payments/customer-portal`) || PathPrefix(`/api`))'
      entryPoints:
        - web-secure
      middlewares:
        - csrf
      service: django
      priority: 100
      tls:
        certResolver: letsencrypt

    web-media-router:
      rule: '(Host(`competibee.com`) || Host(`www.competibee.com`)) && PathPrefix(`/media/`)'
      entryPoints:
        - web-secure
      middlewares:
        - csrf
      service: nginx
      priority: 90
      tls:
        certResolver: letsencrypt

    web-react-router:
      rule: 'Host(`competibee.com`) || Host(`www.competibee.com`)'
      entryPoints:
        - web-secure
      middlewares:
        - csrf
      service: nginx
      priority: 1
      tls:
        certResolver: letsencrypt

  middlewares:
    csrf:
      # https://doc.traefik.io/traefik/master/middlewares/http/headers/#hostsproxyheaders
      # https://docs.djangoproject.com/en/dev/ref/csrf/#ajax
      headers:
        hostsProxyHeaders: ['X-CSRFToken']

  services:
    django:
      loadBalancer:
        servers:
          - url: http://django:5000

    flower:
      loadBalancer:
        servers:
          - url: http://flower:5555

    nginx:
      loadBalancer:
        servers:
          - url: http://nginx:80

providers:
  # https://doc.traefik.io/traefik/master/providers/file/
  file:
    filename: /etc/traefik/traefik.yml
    watch: true
